#ignore the server configuration file:
/server/conf/serverConf.json

#ignore the client configuration file:
/client/conf/clientConf.json

#ignore the abaqus_v6.env file:
/client/conf/abaqus_v6.env

#ignore pickle files:
/server/counter.p
/server/jobList.p
/server/jss_uri.p

#ignored extensions:
*.TODO
*.DS_Store
*.pyc
*.log
