
{
    // array containing the file paths for all the files we plan on running
    "jobFiles" : $jobFiles,   

    "about" : "",       //optional, description about cases that we are running (recommended size: up to 30 characters)

    "commands" : {
       "excutable" : "",
       "executableArguments" : []
    },

    "advanced" : {
        // optional, uncomment below if you wish to receive an email message after each job has been completed
        // "sendEmailTo" :  "$emailAddress"
    },

    "InternalUse" : { // internal use variables, keep as is...
        "jsonFileType": "generic",        // internal use - don't touch
        "jsonFileVersion" : "generic0.1"  // internal use - don't touch
    }
}