{
    "jobFiles" : $jobFiles,   

    "solverFlags" : { 
        "cpus" : $nCPUs,
        "gpus" : $nGPUs,
        "interactive": null 
     },

    "advanced" : {
        "sendEmailTo" :  "$emailAddress"
    }, 

    "jobData" : {
        "priority" : $priority,
        "clientName" : "$clientUserName" 
    },

    "InternalUse" : {
        "jsonFileType": "abaqus",
        "jsonFileVersion" : 0.4,
        "clientVersion" : $version,
        "solver" : "default" 
    }
}